{% autoescape off %}
Hola,

Has solicitado restablecer tu contraseña para tu cuenta en Caribe WOD Tracker asociada con el correo {{ email }}.

Por favor, haz clic en el siguiente enlace para establecer una nueva contraseña:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, puedes ignorar este correo electrónico de forma segura. Tu contraseña no cambiará a menos que accedas al enlace anterior y crees una nueva.

Gracias,
El equipo de Caribe WOD Tracker
{% endautoescape %}
